
    <div class="post-show-item">

        <%= @post.title %>
        <%= @post.event_date %>
        <%= @post.application_deadline %>
        <%= @post.holding_area %>
        <%= @post.venue %>
        <%= @post.capacity %>
        <%= @post.cost %>
        <%= @post.age %>
        <%= @post.picture %>

    </div>
